body{
    background-color: rgb(255, 255, 255);
    display: center;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

.titulo1{
    color: rgb(0, 0, 0);
    font-family: 'Caveat', sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.lista__estilo{
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 24px auto;
    padding: 8px;
}

.lista__conteudo{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;

}

.audio{
    display: none;
    align-items: center;
    justify-content: center;
}

.lugar__button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button{
    background-color: rgb(245, 245, 240);
    border-color: white;
    border-radius: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button:hover{
    background-color: rgb(206, 115, 115);
}

.imagemLugar {
    align-items: center;
    justify-content: center;
    display: flex;
}

.imagemPrincipal{
    width: 100%;
    height: auto;
}

.textoExercicio{
    color: rgb(0, 0, 0);
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.imgModo{
    text-align: center;
}

.imgIcon{
    width: 100px;
    height: 100px;
    
}

.restaurant_design{
text-align: center;
}

.restaurantExercicio{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
}

.audioTipo{
    text-align: center;
}

.titulo2{
        color: rgb(0, 0, 0);
        font-family: 'Caveat', sans-serif;
        font-size: 30px;
        text-align: center;
}

.background{
    background-image: url('imagens/restaurantcover.png');
    opacity: 0.9;
    height: 250px;
    text-align: center;
        
}

.activityOne{
    line-height: 1.6;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: start;
}

.titulosExercicio{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
