body{
    background-color: rgb(255, 255, 255);
    display: center;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

.titulo1{
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.lista__estilo{
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 24px auto;
    padding: 8px;
}

.lista__conteudo{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;

}

.audio{
    display: none;
    align-items: center;
    justify-content: center;
}

.lugar__button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button{
    background-color: rgb(146, 146, 146);
    border-color: rgb(0, 0, 0);
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button:hover{
    background-color: rgb(199, 199, 199);
}

.imagemLugar {
    align-items: center;
    justify-content: center;
    display: flex;
}

.imagemPrincipal{
    width: 100%;
    height: auto;
}

.textoExercicio{
    color: rgb(0, 0, 0);
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.imgModo{
    text-align: center;
}

.imgIcon{
    width: 100px;
    height: 100px;
    
}

.titulo_design{
text-align: center;
}

.tipoExercicio{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
    
}

.audioTipo{
    text-align: center;
}

.titulo2{
        color: rgb(0, 0, 0);
        font-family: 'Caveat', sans-serif;
        font-size: 50px;
        text-align: center;
}

.activityOne{
    line-height: 1.6;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: start;
}

.titulosExercicio{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.backgroundCover{
    width: 500px;
    height: 400px;
}

.background{
    text-align: center;
}

.backgroundCover2{
    width: 400px;
}

.positionIcons{
    text-align: center;
    justify-content: flex;
}

.iconIndex{
    font-family: 'Poppins', sans-serif;

}

.footerDesign{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.footer{
    text-align: center;
}

.iconBack{
    height: 60px;
    width: flex;
}

.listaExercicio{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
}

.resources{
    text-align: center;
}

.titulo3{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
}

.conteudo{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 8px;
    margin: 16px 0;
    box-sizing: border-box;
    border-radius: 3%;
}

.conteudo_titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 8px 0;
}

.conteudo_descricao{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin: 20px 0;
}

.imgMeio{
    text-align: center;
}

.exercicio_modo{
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 13%;
    width: 200px;
	height: 200px;
    display: inline-table;
    text-align: center;
}

.imagemExercicio{
    width: 200px; 
    height: auto;
}

  .modo_supermercado{
    text-align: center;

  }

.atividade_simplepast{
        line-height: 1.6;
        color: rgb(0, 0, 0);
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
}